################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
/packages
/RestSharpTestingDojoUai/bin/Debug
/RestSharpTestingDojoUai/obj/Debug
/ApiTestingDojoUaiTest/bin/Debug
/ApiTestingDojoUaiTest/obj/Debug
